.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
}

.menu-list {
  display: flex;
  list-style-type: none;
  margin-left: 370px;
  margin-right: auto;
}

.menu-list li {
  padding: 10px;
}

.close-menu-toggle{
  display: flex;
  justify-content: flex-end;
  
}

.drop-down-menu-area{
  background-color: burlywood;
  width: 150px;
  margin-left: 30px;
}
.drop-down-menu-list {
  list-style-type: none;
  
}

.drop-down-menu-list li {
  padding:10px;
}

.search-container {
  margin-right: 20px;
  margin-left: auto;
  margin-bottom: 10px;
}

#search-input {
  background-color: #fff8dc;
  border-width: 0 0 1px;
  color: #999;
  opacity: 0.7;
  width: 100px;
}

.card {
  align-items: center;
  cursor: pointer;
}

.logo-img{
  cursor: pointer;
}

.menu-toggle{
  cursor: pointer;
  margin-left: 30px;
  
 
}


.card:hover {
  transform: scale(1.1);
}

.card h6 {
  font-size: x-small;
}

.product-img-area{
  display: flex;
  justify-content: flex-end;
}

.product-img{
  width: 53%;
}
.product-text-area div{
  margin: 15px;
}

.product-text-area h6{
  font-size: x-small;
}

.size-select{
  margin-left: 15px;
}

.add-btn{
  width: 590px;
  background-color: black;
  color: white;
}



@media screen and (max-width: 768px) {
  .nav-section {
    display: none;
  }
  .menu-area {
    display: none;
  }
}

