.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  margin-left: 370px; 
  margin-right: auto;
}

.menu-list li {
  padding: 10px;
}

.search-container {
  margin-right: 20px;
  border-bottom: 2px solid #444444;
  padding-bottom: 10px;
}




.search-container input[type="text"] {
  color: #999; /* 회색으로 설정 */
  opacity: 0.7; /* 희미하게 만듭니다. */
  width: 100px;
  
}

@media screen and (max-width: 768px) {
  .nav-section {
    display: none;
  }
  .menu-area{
    display: none;
  }
}